.error-indicator {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: orange;
    align-items: center;
}

.boom {
    padding: 5px;
    text-align: center;
    font-size: 20px;
}